.square{
  width: 40%;
  min-width: 350px;
  aspect-ratio: 1/1;
}
.control{
  width: 17%;
  min-width: 200px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  transform: rotate(45deg);
}
.circle{
  width: 30%;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.main{
  background-image: url('./assets/background.jpg');
  background-size: cover;
  background-position: center;
}
.snakeBody{
  width: 85%;
  height: 85%;
  background-color: black;
  border-radius: 45%;
}
.control button{
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  border: none;
}
.restart{
  z-index: 5;
  width: 300px;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.212);
}
.cell{
  font-family: "Handjet", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings:
    "ELGR" 1,
    "ELSH" 2;
}


@media screen and (max-width:700px) {
  .main{
    flex-direction: column;
  }
}